@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(211, 211, 211, 0.447);
}

header {
    background-color: #ffffff;
    height: 50px;
    color: #d1dee3;
    display: flex;



}
div#pesq {
    text-align: center;
    margin-left: 60px;
    border: 2px solid #f76206;
    border-radius: 5px;
    width: 300px;
    background-color: white;
    cursor: pointer;
    


}

span#search {
    text-align: center;
    margin-top: 8px;
}

div#pesq > p {
    
    font-size: 0.8em;
    text-align: center;
}
header, h1#titulo {
    padding: 10px;
    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.524);
    font-family: 'Bebas Neue', cursive;
    color:#E47632;
}
div#foto {
    height: 640px;
    width: 94vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.303);
    
}
div#foto > h3 {
    text-align: center;
    padding: 10px;
}
div#foto > img#img {
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 10px;
    
    
}
div#valorbilhete {
    background-color:#f76206 ;
    height: 60px;
    margin-top: 30px;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
div#valorbilhete > h1 {
    padding: 0px;
}
div#local {
    margin-top: 30px;
    margin-left: 10px;
    background-color:#dedef45c ;
    height: 80px;
    width: 90vw;
    border-color: black;
}
div#local > p {
    padding: 24px;
}
div#data {
    border-top: 2px solid rgba(195, 185, 185, 0.667);
    margin-left: 10px;
    background-color:#dedef45c ;
    height: 80px;
    width: 90vw;
}
div#data > p {
    padding: 24px;
}
div#adicionar {
    height: 470px;
    width: 94vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.303);
    text-align: center;
    
}
div#adicionar > p {
    text-align: center;
    padding: 20px;
}
div#caixaop {
    margin-top: 20px;
    height: 115px;
    width: 160px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #f76206;
    border-radius: 10px;
    display: inline-block;
    
    
    
}
div#caixaop > h1 {
    text-align: center;
    font-size: 2.5em;
    color: #E47632;
    padding-bottom: 8px;
    padding-top: 10px;

    
}
input#adicionar {
    background-color: #f76206;
    border: none;
    color: white;
    padding: 10px 39px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
 }

 div#mostrar > input {
    margin-top: 0px;
    display: inline-block;
    
 }
 div#caixabilhete {

    border: 2px solid #E47632;
    height: 50px;
    width: 200px;
    display: inline-block;
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
    color: #f76206;
 }
 div#caixabilhete > p {
    margin-top: 11px;
 }
input#adição {
    background-color: #f76206;
    border: none;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    
    
}

section#final {
    color: rgb(126, 125, 125);
    height: 150px;
    width: 94vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.303);
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}
div#resultado {
    color: rgb(126, 125, 125);
    height: 50px;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}

div#finalizar {
    color: rgb(126, 125, 125);
    height: 50px;
    width: 90vw;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}

#finalizarcompra {
    background-color: #3dae1b;
    border: none;
    color: white;
    padding: 15px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 7px;
    cursor: pointer;
    margin: 0px;
    
    
}

.formulario-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.859);
    align-items: center;
    justify-content: center;
    z-index: 999;


}
.modal {
    width: 70vw;
    min-width: 400px;
    min-height: 450px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;


}

.fechar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(46, 42, 42, 0.76);
    color: white;
    font-size: 21px;
    cursor: pointer;
}
.fechar:hover {
    background-color: rgb(252, 53, 53);
}

.header-modal {
    border-bottom: 1px solid rgb(106, 104, 104);
    padding: 0px;
    margin: 10px;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 0.9em;
}

.body-modal {
    align-items: center;
    justify-content: center;
    

}
.body-modal > h3 {
    color: gray;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

div.name {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid black;
    
}
div.telefone {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid black;
}
input#nameusu {
    width: 65vw;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}
input#telusu, input#telusu01 {
    margin-left: 10px;
    width: 65vw;
    padding: 10px;
    border: 0;
}

.material-symbols-outlined {
    color: rgb(255, 100, 3); 
    cursor: pointer;
}

#efetuarcompra {
    background-color: #f76206;
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 7px;
    width: 70vw;
    cursor: pointer;
}



footer {
    height: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.355);
    margin-top: 30px;
    background-color: white;

}
footer > p {
    margin-top: 30px;
    font-size: 0.9em;

}

.formulario-modal.abrir {
    display: flex;
}

@keyframes abrirmodal {
    from {
        opacity: 0;
        transform: translate(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0,0,0);
    }
}

.abrir .modal {
    animation: abrirmodal 0.4s;
}

#pesquisar-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.859);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#numeros-modal {
    width: 70vw;
    min-width: 400px;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
}

.header-modal-pesquisar {
    color: black;
    font-size: 0.8em;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.body-modal-pesquisar {
    margin-top: 25px;
}

#buscar-numero {
    background-color: #12b22a;
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 7px;
    width: 70vw;
    cursor: pointer;
}

#pesquisar-modal.abrir {
    display: flex;
}

.abrir #numeros-modal {
    animation: abrirmodal 0.4s;
}
